@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    font-weight: 400;
    font-style: normal;
    /* border: solid red 1px; */
}


html {
    scroll-behavior:smooth ;
}
  
  
  
  